<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blocked Users</title>
        <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

    <style>
        *{
            box-sizing: border-box;
        }
        body {
            background: #ada1b5;
            {#background: linear-gradient(to right, #90799c, #0b0112);#}
        }
        .no-gutters {
            background: #e0dce3;
            border-radius: 5px;
            box-shadow: #7d7d7d;
        }
        nav {
            background: linear-gradient(to right, #d5cadb, #0b0112);
        }

    </style>
</head>
<body>

<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#" style="text-shadow: 4px 4px 4px black;">BlogPostsSite</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page"  href="{% url 'posts' %}">Posts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'profileUser' %}">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="text-shadow: 2px 2px 2px black;" href="{% url 'blockedUsers' %}">Blocked user</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<section class="Form my-4 mx-5">
    <div class="container">
        <div class="row no-gutters">
        <h1 style="text-align: center; text-shadow: 4px 4px 4px black;">Blocked users</h1>
            <table class="table table-striped table-bordered">
                <tr>
                    <th>Name</th>
                    <th>Surname</th>
                </tr>
                {% for bu in blocked_list %}
                <tr>
                    <td>{{bu.user_blocked.name}}</td>
                    <td>{{bu.user_blocked.surname}}</td>
                </tr>
                {%endfor%}
            </table>
            <h4 style="padding-top: 20px">Block user</h4>
            <form method="POST" enctype="multipart/form-data" style="padding-bottom: 20px">
                {% csrf_token %}
                {{ formBlock }}
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
</section>

</body>
</html>